<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body>
    <h1> Hello! </h1>
    {% if session.email %}
    <p> Logged in as {{ session.email }} </p>
    <button id="logout">Logout</button>
    {% else %}
    <button id="login">Login</button>
    {% endif %}

    <script>
      window.M = window.M || {};
      M.loginURL = function() { return "{{ url_for('user_login') }}"; };
      M.logoutURL = function() { return "{{ url_for('user_logout') }}"; };
      M.loggedInUser = function() {
        return ("{{ session.email }}") ? "{{ session.email }}" : null;
      };
      window.onload = function() {
        M.init();
      };
    </script>

    <script src="https://login.persona.org/include.js"></script>
    <script src="{{ url_for('.static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/main.js') }}"></script>
  </body>
</html>
